{% extends "layout.html" %}
{% block content %}
    {% load static %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <style>
        .form-option{
            width: 100%;
            padding: 5px;
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
        }
    </style>

    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Agregar producto</h2>
                </div>
                <form id="Login" enctype="multipart/form-data" action="{% url 'TIENDAROPA:agregar' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="titulo" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" name="imagen" placeholder="Imagen" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="descripcion" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="precio" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Seleccione una categoria</label>
                        <select name="categoria" id="categoria" class="form-option">
                            {% for categoria in categorias %}
                                <option value="{{categoria.id}}">{{categoria.descripcionCategoria}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info rounded-0 py-2">AGREGAR</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}