{% extends "layout.html" %}
{% block content %}
    {% load static %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">    

    <style>
        .grid{
            margin-left: 300px;
            text-align: center;
            width: 70%; 
            display: grid;
            display: flex;
            grid-column-gap: 2px;
            grid-row-gap: 2px; 
            grid-template-columns: auto auto auto auto;
            padding: 1%;
        }

        .grid-item{
            margin: 10px;
            padding: 10px;
            width: 250px;
            height: 300px;
            text-align: center;
            background-color: #FFFFFF80;
        }
    </style>

    <div>
        <div class="columns">
            <div class="column">
                <div class="grid">
                {% for each in primeros3 %}
                    <div class="grid-item">
                            <h3><b>{{each.titulo | upper}}</b></h3><br>
                            <img src="{{each.imagen}}" alt="{{each.titulo}}" height="150" width="150"><br><br>
                            <a href= "{% url 'TIENDAROPA:verProducto' id=each.id %}" class="btn btn-info rounded-0 py-2">VER PRODUCTO</a>
                    </div>      
                {% endfor %}  
                </div>
                <br>
                <h3>Otros productos ...</h3>
                <table class="table" style="background-color: #FFFFFF80;">
                    <thead>
                        <tr>
                            <th style="text-align: center">Titulo</th>
                            <th style="text-align: center">Categoria</th>
                            <th style="text-align: center">Descripcion</th>
                            <th style="text-align: center">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td style="text-align: center"><a href="{% url 'TIENDAROPA:verProducto' id=producto.id %}">{{producto.titulo}}</td></a>
                                <td style="text-align: center">{{producto.categoria.descripcionCategoria}}</td>
                                <td style="text-align: center">{{producto.descripcionProducto}}</td>
                                <td style="text-align: center">${{producto.precio}}</td>  
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}